@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Reset for font and text. 
Inherit property value causes the property value to match 
the computed value of the property of its parent element; 
inheriting the value of the parent. */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Box-sizing, padding, margin reset */
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'open sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; /* moves to center of screen */
    min-height: 100vh; /*view port height: think of it as 100 horizontal slices and doing this will make our page take up all 100 slices */
    margin: 0;
}