@font-face {
  font-family: norse-bold;
  src: url(/font/Norse-Bold.otf);
}
/* Reset for font and text. 
Inherit property value causes the property value to match 
the computed value of the property of its parent element; 
inheriting the value of the parent. */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Box-sizing, padding, margin reset */
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.all-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left-side {
 background-image: url(./imgs/camping.jpg);
 width: 45vw;
 background-repeat: no-repeat;
 background-size: cover; /* Correctly displays the full image */
 position: relative;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.logo-container {
  height: 35vh;
  display: flex;
  align-items: center;

}

.transparent-logo-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3)
}

.logo-text {
  font-family: norse-bold;
  color: white;
  font-size: 3rem;
  padding: 1rem;
}

.top {
  width: 100%;
  height: 100vh;
  padding-left: 2rem;
  padding-top: 10rem;
}

.middle {
  width: 100%;
  height: 100vh;
  padding-left: 2rem;
}

.bottom {
  width: 100%;
  height: 100vh;
  padding-left: 2rem;
}