@font-face {
  font-family: norse-bold;
  src: url(/font/Norse-Bold.otf);
}

:root { 
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Box-sizing, padding, margin reset */
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Gets rid of the little bit of scrolling */
}

.all-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.left-side {
  background-image: url(./imgs/camping.jpg);
  width: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  /* Correctly displays the full image */
  position: relative;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.logo-container {
  height: 35vh;
  display: flex;
  align-items: center;

}

.transparent-logo-bg {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3)
}

.logo-text {
  font-family: norse-bold;
  color: white;
  font-size: 3rem;
  padding: 1rem;
}

.top {
  text-align: left;
  background-color: rgb(91, 111, 135, 0.2);
  border-radius: 1px;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.middle {
  text-align: left;
  background-color: rgb(168, 164, 161, 0.2);
  border-radius: 1px;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(168, 164, 161, 0.5);
}

.bottom {
  text-align: left;
  background-color: rgb(91, 111, 135, 0.2);
  border-radius: 1px;
  padding-top: 2rem;
  width: 100%;
  height: 1100%;
  padding-left: 2rem;
}

/* Allows for the inputs to be split in 2 columns */
.form-row {
  float: left;
  margin-bottom: 10px;
  width: 50%;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'],
.form-row input[type='confirm-password'] {
  background-color: #ffffff;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.create-btn {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(105, 104, 104);
  background-color: #FFD196;
  border: none;
  border-radius: 10px;
  width: 15rem;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(168, 164, 161, 0.5);
  /* box-shadow: inset 0 -3em 3em rgba(105, 104, 104, 0.2) */
}

.has-account-text {
  font-size: 0.9rem;
  /* font-weig8ht: bold; */
  padding-left: 0.5rem;
}

a {
  color: #fd9001d8;
}

label {
  font-size: 1rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer {
  font-size: 14px;
  font-weight: bold;
  color: #232425;
  position: absolute;
  bottom: 0; 
  padding: 0px 0px 10px 150px;
}

input:focus {
  outline-color: #0077f7;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(168, 164, 161, 0.5);
}

.form-row.success input {
  border-color: var(--success-color);
}


.form-row.error input {
  border-color: var(--error-color);
}

#match-message {
  font-size: .8rem;
}



@media only screen and (min-width: 600px) {

  .form-row,
  .logo-text {
    /* All 3 below allow inputs and named to be stacked */
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* To avoid stretching */
    margin-bottom: 20px;
  }

  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='password'],
  .form-row input[type='confirm-password'] {
    width: 250px;
    height: initial;
  }

  .form-row label {
    text-align: right;
    margin-top: 7px;
    padding-right: 20px;
  }

  .logo-container {
    flex-direction: row;
    align-items: center;
  }

} 